extends layout

block content
  nav
    a(href="/")
      img(src="assets/imgs/logo.png", 
          alt="The is a simple computer made image of a pomegranate").logo
      h3 #{title}
  
  .container.row
    .col.c2
      img(src="assets/imgs/pomegranate.png", alt="Clickable pomegranate").pomegranate
      
      hr
        
      h2.seeds.textCenter Seeds
      .seedCounter.textCenter 0
      h2.sps.textCenter SPS
      .spsCounter.textCenter 0
    
    .col.c2
      .upgrades
        h2 Upgrades
        .row
          .col.c3.upgrade
            img(src="assets/imgs/upgrades/imgName.png").icon
            h3.title title
            
          .col.c3.upgrade
            
          .col.c3.upgrade
        
        .row
          .col.c3.upgrade
            
          .col.c3.upgrade
            
          .col.c3.upgrade
    
