extends layout

block content
  
  .preGame.row.v-centre.h-centre
    .menuBox
      h1.rel Pomegranate
        span Fruity Clicker
        
      .msgBox
        
      input(id="pNameIn", type="text", placeholder="New Player", autocomplete="off", autocorrect="off", autocapitalize="off", spellcheck="false")
      input(id="playBtn", type="button", value="Play!")
  
  .game.row
    .col.c2.sep
      .overview
        img(src="assets/imgs/pomegranate.png", alt="Clickable pomegranate").pomegranate#pomegranate
        
        hr
          
        .row
          .col.c1
            h2.seeds.textCenter Seeds
            #seedCounter.textCenter 0
          .col.c1
            h2.sps.textCenter SPS
            #spsCounter.textCenter 0
    
    .col.c2
      .upgrades
        h2 Upgrades
        .row
          .col.c3.upgrade#deseeder
            .purchase
              .buyBtn Buy
            .info
              img(src="assets/imgs/upgrades/imgName.png").icon
              h3.title title
              .row
                .c2 Level
                .c2.lvl 0
              .row
                .c2 SPS
                .c2.sps 0
              .row
                .c2 Cost
                .c2.cost 0
                
            
          .col.c3.upgrade#backyardShrub
            .purchase
              .buyBtn Buy
            .info
              img(src="assets/imgs/upgrades/imgName.png").icon
              h3.title title
              .row
                .c2 Level
                .c2.lvl 0
              .row
                .c2 SPS
                .c2.sps 0
              .row
                .c2 Cost
                .c2.cost 0
            
          .col.c3.upgrade#backyardTree
            .purchase
              .buyBtn Buy
            .info
              img(src="assets/imgs/upgrades/imgName.png").icon
              h3.title title
              .row
                .c2 Level
                .c2.lvl 0
              .row
                .c2 SPS
                .c2.sps 0
              .row
                .c2 Cost
                .c2.cost 0
    
