doctype html
html
  head
    title= title
    link(rel='stylesheet', href='assets/css/style.css')
    script(src="assets/js/socket.io.min.js")
    script(src="assets/js/main.min.js")
  body
    block content
