doctype html
html
  head
    title= title
    link(link href="https://fonts.googleapis.com/css?family=Fira+Sans", rel="stylesheet")
    link(rel='stylesheet', href='/assets/css/main.min.css')
    script(src="/assets/js/socket.io.min.js")
    script(src="/assets/js/main.min.js")
  body
    block content
